body {
    background-image:  url("vizualizare.jpg");
    background-size: cover;
    background-position: center;
}
#reminderFrame {
    width: 100%; 
    height: 800px; 
    border: none;
    align-items: center;
    margin: 1%;
    padding: 1%;
}
h3{
    font-family: cursive;
    margin-left: 1%;
}
button{
    margin-left:1%;
}


